    body{
        background-color: #005ec8;
    }
    .question {
        background-color: rgba(0, 0, 0, .2);
        border-radius: 15px;
    }
    
    .para {
        font-size: 2em;
        color: whitesmoke;
    }
    
    .options {
        margin: 10px;
        display: block;
        font-size: 1.5em;
        background-color: whitesmoke;
        color: #5cc29f;
        width: 100%;
        border-radius: 30px;
        border: none;
        box-shadow: 0 10px 12px lightgrey;
        padding: 10px;
        transition: .5s;
        outline: none !important;
    }
    
    .options:hover {
        background-color: transparent;
        color: white;
        border: 2px solid;
    }
    
    .resultShow {
        font-size: 2em;
        color: lightgreen;
    }
    
    .nextbtn {
        border-radius: 50px;
        background-color: white;
        color: #005ec8;
        padding: 15px;
        font-size: 1em;
        width: 100px;
        height: 100px;
        font-weight: bold;
        border: none;
        box-shadow: 0 10px 12px rgb(50, 50, 50);
        transition: .5s;
        margin: 30px;
        outline: none !important;
        
    }
    
    .nextbtn:hover {
        background-color: transparent;
        color: white;
        border: 2px solid;
    }

    /* adminPanel */
    .styleInput{
        background-color: transparent;
        border: none;
       border-bottom: 1px solid white;
transition: .5s;
font-size: 1em;
width: 100%;
  color: white;
        width: 50%;
        outline: none;
        padding: 10px;
    }

    .styleInput:focus{
        border-bottom: 1px solid brown; 
    }
    .styleInput::placeholder{
        color: white;
    }
    .admin{
        display: block;
    }
    .option{
        background-color: white;
        color: green;
    }
    .optionInp{
        border: none;
        color: green;
        padding: 10px;
        margin: 5px;
        border-bottom: 1px solid green;
    font-size: 1em;
    width: 80%;
outline: none;
transition: .5s;
    }
    .optionInp:focus{
        border-bottom: 1px solid #005ec8;
    }
    .nextopt{
        padding: 10px;
        margin: 5px;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color: white;
        box-shadow: 0 0 10px lightgrey;
        font-size: 1em;
        border: none;
    }



    /* result */
    #score{
        margin: 30px;
    }